a {
  /* display: block; */
}

ul li {
  display: inline;
}

p {
  border: 1px solid red;
}

.margen {
  margin: 15px;
}

.paddin {
  padding: 15px;
}

button {
  padding: 10px;
  background-color: blue;
  color: white;
  margin-right: 50px;
  display: block;
}

body {
  margin: 0px;
}

main {
  background-color: #ccc;
  width: 800px;
  margin: 0 auto 0 auto;
}

header {
  min-height: 200px;
  background-color: gray;
}

h1 {
  line-height: 200px;
  margin: 0px;
  text-align: center;
}

footer {
  background-color: black;
  position: fixed;
  bottom: 0px;
  width: 800px;
}

footer p {
  text-align: center;
  color: white;
}